In [39]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt

In [36]:
train = pd.read_csv('height_train.csv')
test = pd.read_csv('height_test.csv')
train.head()

   id  father_height  mother_height  boy_dummy  child_height
0   0           1.76           1.60          0          1.66
1   1           1.71           1.63          1          1.76
2   2           1.70           1.66          0          1.67
3   3           1.68           1.61          1          1.75
4   4           1.72           1.70          1          1.76

In [37]:
train['father_height'] = (train.father_height - train.father_height.mean()) / train.father_height.std()
train['mother_height'] = (train.mother_height - train.mother_height.mean()) / train.mother_height.std()
train['father_dummy'] = train.father_height * train.boy_dummy
train['mother_dummy'] = train.mother_height * train.boy_dummy

# test['father_height'] = (test.father_height - test.father_height.mean()) / test.father_height.std()
# test['mother_height'] = (test.mother_height - test.mother_height.mean()) / test.mother_height.std()
# test['father_dummy'] = test.father_height * test.boy_dummy
# test['mother_dummy'] = test.mother_height * test.boy_dummy

train.head()

,id,father_height,mother_height,boy_dummy,child_height,father_dummy,mother_dummy
0,0,0.573833,-0.604138,0,1.66,0.000000,-0.000000
1,1,-0.484041,0.065094,1,1.76,-0.484041,0.065094
2,2,-0.695616,0.734326,0,1.67,-0.000000,0.000000
3,3,-1.118765,-0.381061,1,1.75,-1.118765,-0.381061
4,4,-0.272466,1.626634,1,1.76,-0.272466,1.626634

In [15]:
test.head()

     id  father_height  mother_height  boy_dummy  father_dummy  mother_dummy
0  5000      -0.477143       0.670766          0     -0.000000      0.000000
1  5001      -0.891510       0.011860          1     -0.891510      0.011860
2  5002      -0.477143      -1.525587          1     -0.477143     -1.525587
3  5003      -1.098693       0.890402          1     -1.098693      0.890402
4  5004      -0.477143      -0.647046          0     -0.000000     -0.000000

In [38]:
trainX = train.drop(['id', 'child_height'], axis=1)
trainY = train.child_height
trainX, valX, trainY, valY = train_test_split(trainX, trainY, test_size=0.25, random_state=42)
print('trainX.shape', trainX.shape)
print('valX.shape', valX.shape)
trainX.head()

trainX.shape (3750, 5)
valX.shape (1250, 5)

      father_height  mother_height  boy_dummy  father_dummy  mother_dummy
4884       0.362258      -0.604138          0      0.000000     -0.000000
3163      -1.541915      -1.273369          0     -0.000000     -0.000000
490       -0.060891       0.734326          1     -0.060891      0.734326
862       -0.484041       1.403557          1     -0.484041      1.403557
1740      -0.060891      -1.496447          1     -0.060891     -1.496447

#### LinearRegression

In [9]:
model = LinearRegression()
model.fit(X=trainX ,y=trainY)

# 2. 直接使用模型的predict()
predY = model.predict(test[trainX.columns])

# 评估验证集分数 1.170883722882294
# np.square(predY*100 - np.array(valY.values.tolist())*100).mean()

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### RandomForestRegressor

In [42]:
model2 = RandomForestRegressor()
model2.fit(trainX, trainY)
predY = model2.predict(valX[trainX.columns])
np.square(predY*100 - np.array(valY.values.tolist())*100).mean()

d:\python36\deeplearning\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

1.455930805069831

In [18]:
result = pd.DataFrame({'id':test.id, 'prediction':predY})
result.to_csv('吴加清.csv', index=False)
result

       id  prediction
0    5000    1.654376
1    5001    1.737713
2    5002    1.729804
3    5003    1.742642
4    5004    1.636675
5    5005    1.784274
6    5006    1.644417
7    5007    1.745382
8    5008    1.760839
9    5009    1.650675
10   5010    1.650317
11   5011    1.656951
12   5012    1.738747
13   5013    1.675010
14   5014    1.646992
15   5015    1.722377
16   5016    1.623033
17   5017    1.647350
18   5018    1.634475
19   5019    1.663226
20   5020    1.652892
21   5021    1.656218
22   5022    1.666159
23   5023    1.629291
24   5024    1.655109
25   5025    1.756824
26   5026    1.654734
27   5027    1.767473
28   5028    1.632974
29   5029    1.736800
..    ...         ...
970  5970    1.745261
971  5971    1.710693
972  5972    1.640000
973  5973    1.746295
974  5974    1.737472
975  5975    1.666534
976  5976    1.749276
977  5977    1.624141
978  5978    1.757065
979  5979    1.625983
980  5980    1.727856
981  5981    1.612716
982  5982    1.626733
983  5983    1.660259
984  5984    1.660276
985  5985    1.755790
986  5986    1.637408
987  5987    1.775021
988  5988    1.755669
989  5989    1.768266
990  5990    1.742280
991  5991    1.632616
992  5992    1.755118
993  5993    1.684593
994  5994    1.761632
995  5995    1.756703
996  5996    1.730166
997  5997    1.685327
998  5998    1.660259
999  5999    1.646992

[1000 rows x 2 columns]

In [ ]:
def evaluate(prediction_path,real_path):
    predict = pd.read_csv(prediction_path)
    real = pd.read_csv(real_path)
    predict = predict.loc[:,['id','prediction']]
    real = real.loc[:,['id','child_height']]
    real = real.merge(predict,on='id',how='left')
    return np.square(real.prediction*100-real.child_height*100).mean()

### 隗同学的思路
我就加了两列，把boy_dummy和father_height还有mother_height分别乘了一下。
大致想法就是既然考虑性别了，那就也可以认为不同性别对父母依赖也不一样，所以加入这两列就等于考虑了这个因素。